
--USE [SGHRMDB]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
	[ProfileImage] [varchar](30) NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[Address] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AssignEmpProject](
	[AssignEmpProjectID] [int] NULL,
	[ProID] [int] NULL,
	[EmpID] [int] NULL
) ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Departments](
	[DeptID] [int] IDENTITY(200,1) NOT NULL,
	[DeptName] [varchar](20) NOT NULL,
	[DeptType] [varchar](20) NOT NULL,
	[DeptDesc] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[EmLeaveType](
	[LeaveTypeID] [int] IDENTITY(1,1) NOT NULL,
	[LeaveType] [varchar](15) NOT NULL,
	[LeaveDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Emp_DailyAttendence](
	[AttnID] [int] IDENTITY(600,1) NOT NULL,
	[EmpID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NOT NULL,
	[Remarks] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Emp_LeaveCalculation](
	[EmpLeveID] [int] IDENTITY(1,1) NOT NULL,
	[LeaveTypeID] [int] NULL,
	[EmpID] [int] NULL,
	[LeaveStartDate] [datetime] NOT NULL,
	[LeaveEndDate] [datetime] NOT NULL,
	[NumberOfDayLeave] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpLeveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Employees](
	[EmpID] [int] IDENTITY(100,1) NOT NULL,
	[EmpFirstName] [varchar](20) NOT NULL,
	[EmpLastName] [varchar](20) NOT NULL,
	[Gender] [varchar](10) NULL,
	[MaritalStatus] [varchar](15) NULL,
	[CellPhone] [varchar](15) NULL,
	[DOB] [datetime] NOT NULL,
	[Email] [varchar](30) NULL,
	[BloodGroup] [varchar](10) NULL,
	[Address] [varchar](30) NOT NULL,
	[JoiningDate] [datetime] NOT NULL,
	[TerminationDate] [datetime] NULL,
	[EmImage] [varchar](max) NULL,
	[DeptID] [int] NULL,
	[DesignationId] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[HrDesignation](
	[DegID] [int] IDENTITY(10,1) NOT NULL,
	[ForDegID]  AS (('DEG'+right('000'+CONVERT([varchar](15),[DegID]),(10)))+'SG'),
	[DegName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[HrProject](
	[ProID] [int] IDENTITY(800,1) NOT NULL,
	[ProName] [varchar](20) NOT NULL,
	[RequireSkill] [varchar](20) NOT NULL,
	[SuperVisor] [varchar](20) NOT NULL,
	[ProDesc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Salary](
	[SalID] [int] IDENTITY(111,1) NOT NULL,
	[EmpID] [int] NULL,
	[SalType] [varchar](20) NOT NULL,
	[SalAmount] [varchar](30) NOT NULL,
	[SalMonth] [varchar](30) NOT NULL,
	[SalDesc] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e36ca892-3b54-49a3-a8b4-5b34e6bfeeae', N'Manager')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Officer')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'111377548191503981252', N'7c711e58-7d5a-4de5-ab9b-c2aaf4c366ca')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c1e8ec69-35e9-48f5-998d-74a377b70fdd', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7c711e58-7d5a-4de5-ab9b-c2aaf4c366ca', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'68004389-089b-499e-b3a9-a1e99081dc80', N'e36ca892-3b54-49a3-a8b4-5b34e6bfeeae')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ProfileImage], [FirstName], [LastName], [Address]) VALUES (N'68004389-089b-499e-b3a9-a1e99081dc80', N'onlineziggasa@gmail.com', 1, N'AICRZp4dLGxLkxabnnxsZ0vzxitQ9ePD0cA7wP4KnxrXI0ujaDEQo+h/TNH8wxy+wA==', N'555f4152-5108-458e-86d6-3c40ca436ea1', NULL, 0, 0, NULL, 1, 0, N'nvit', NULL, NULL, NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ProfileImage], [FirstName], [LastName], [Address]) VALUES (N'7c711e58-7d5a-4de5-ab9b-c2aaf4c366ca', N'shsohel.api@gmail.com', 0, NULL, N'78a3058f-60c0-4cce-b35e-f6a2cd656e53', NULL, 0, 0, NULL, 1, 0, N'shsohel.api@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ProfileImage], [FirstName], [LastName], [Address]) VALUES (N'c1e8ec69-35e9-48f5-998d-74a377b70fdd', N'shsohel.tc@gmail.com', 1, N'AIn6p13dEUe1gAMtak/4mB7h9pN7+vojPICNa2Twnn5GHXj78u9cLTOAglvATyYVjA==', N'8f7d2631-25c7-4ee0-b9ae-a83053686486', NULL, 0, 0, NULL, 1, 0, N'Shsohel', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DeptID], [DeptName], [DeptType], [DeptDesc]) VALUES (200, N'Tech', N'Technology', N'ICT')
INSERT [dbo].[Departments] ([DeptID], [DeptName], [DeptType], [DeptDesc]) VALUES (201, N'Account', N'Management', N'Debit Credit')
INSERT [dbo].[Departments] ([DeptID], [DeptName], [DeptType], [DeptDesc]) VALUES (202, N'Finance', N'Credit', N'Business deal here ')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[EmLeaveType] ON 

INSERT [dbo].[EmLeaveType] ([LeaveTypeID], [LeaveType], [LeaveDescription]) VALUES (2, N'Holidays Leave', N'National HolyDay')
INSERT [dbo].[EmLeaveType] ([LeaveTypeID], [LeaveType], [LeaveDescription]) VALUES (4, N'Earned Leave', N'he type of leave which the employees earn as they work for an organisation for a specified number of days.')
INSERT [dbo].[EmLeaveType] ([LeaveTypeID], [LeaveType], [LeaveDescription]) VALUES (5, N'Casual Leave', N'The type of leave that is granted for short durations and can ordinarily be taken with prior information to the employer except in cases when informing the employer is not possible.')
SET IDENTITY_INSERT [dbo].[EmLeaveType] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmpID], [EmpFirstName], [EmpLastName], [Gender], [MaritalStatus], [CellPhone], [DOB], [Email], [BloodGroup], [Address], [JoiningDate], [TerminationDate], [EmImage], [DeptID], [DesignationId], [IsActive]) VALUES (100, N'Sakhawat', N'Hossain', N'Male', N'Single', N'01811275653', CAST(N'1990-12-21T00:00:00.000' AS DateTime), N'shsohel.tc@gmail.com', N'O+', N'Chittagong@gmail.com', CAST(N'2015-01-04T00:00:00.000' AS DateTime), CAST(N'2019-04-03T00:00:00.000' AS DateTime), N'', 201, 14, 1)
INSERT [dbo].[Employees] ([EmpID], [EmpFirstName], [EmpLastName], [Gender], [MaritalStatus], [CellPhone], [DOB], [Email], [BloodGroup], [Address], [JoiningDate], [TerminationDate], [EmImage], [DeptID], [DesignationId], [IsActive]) VALUES (101, N'Milon', N'Hossain', N'Male', N'Single', N'01811275654', CAST(N'2014-01-05T00:00:00.000' AS DateTime), N'shsohel.ac@gmail.com', N'A-', N'Chittagong@gmail.com', CAST(N'2019-05-05T00:00:00.000' AS DateTime), CAST(N'2019-05-04T00:00:00.000' AS DateTime), N'20180223_182508.jpg', 201, 17, 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[HrDesignation] ON 

INSERT [dbo].[HrDesignation] ([DegID], [DegName]) VALUES (17, N'Accountant')
INSERT [dbo].[HrDesignation] ([DegID], [DegName]) VALUES (16, N'Manager')
INSERT [dbo].[HrDesignation] ([DegID], [DegName]) VALUES (14, N'Officer')
SET IDENTITY_INSERT [dbo].[HrDesignation] OFF
SET ANSI_PADDING ON

CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DeptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

ALTER TABLE [dbo].[EmLeaveType] ADD UNIQUE NONCLUSTERED 
(
	[LeaveType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[CellPhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET ANSI_PADDING ON

ALTER TABLE [dbo].[HrDesignation] ADD UNIQUE NONCLUSTERED 
(
	[DegName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

ALTER TABLE [dbo].[Emp_DailyAttendence] ADD  DEFAULT (getdate()) FOR [StartTime]

ALTER TABLE [dbo].[Emp_DailyAttendence] ADD  CONSTRAINT [CN_EmployeeDefaultDateInSystem]  DEFAULT (getdate()) FOR [EndTime]

ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [CN_CustomerAddress]  DEFAULT ('UNKNOWN') FOR [Address]

ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]

ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]

ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]

ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]

ALTER TABLE [dbo].[AssignEmpProject]  WITH CHECK ADD FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
ON DELETE CASCADE

ALTER TABLE [dbo].[AssignEmpProject]  WITH CHECK ADD FOREIGN KEY([ProID])
REFERENCES [dbo].[HrProject] ([ProID])
ON DELETE CASCADE

ALTER TABLE [dbo].[Emp_DailyAttendence]  WITH CHECK ADD FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
ON DELETE CASCADE

ALTER TABLE [dbo].[Emp_LeaveCalculation]  WITH CHECK ADD FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
ON DELETE CASCADE

ALTER TABLE [dbo].[Emp_LeaveCalculation]  WITH CHECK ADD FOREIGN KEY([LeaveTypeID])
REFERENCES [dbo].[EmLeaveType] ([LeaveTypeID])
ON DELETE CASCADE

ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[Departments] ([DeptID])
ON DELETE CASCADE

ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DesignationId])
REFERENCES [dbo].[HrDesignation] ([DegID])
ON DELETE CASCADE

ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
ON DELETE CASCADE

ALTER TABLE [dbo].[Emp_DailyAttendence]  WITH CHECK ADD CHECK  (([EndTime]<=getdate()))

ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([CellPhone] like '[0][1][0-9][0-9][0-9] [0-9][0-9][0-9] [0-9][0-9][0-9]' OR [CellPhone] like '018%'))

SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE proc [dbo].[sp_AllCRUDEmployee]
(
@empid int,
@empfirstname varchar(20),
@emplastname varchar(20),
@gender varchar(10),
@maritalstatus varchar(15) ,
@cellphone varchar(15),
@dob datetime, 
@email varchar(30),
@bloodgroup varchar (10) , 
@address varchar(30),
@joiningdate datetime ,
@terminationdate datetime ,
@emimage varchar (max) ,
@deptid int,
@designationid int,
@isactive bit,
@operation varchar(20)
)
AS 
BEGIN
	BEGIN TRY
	BEGIN TRAN 
		IF(@operation = 'INSERT')
		
			INSERT into Employees values 
			(@empfirstname,@emplastname,@gender,@maritalstatus,@cellphone,@dob,
			@email,@bloodgroup,@address,@joiningdate,@terminationdate,@emimage,@deptid,@designationid,@isactive)
			Print 'Your data inserted Successfully'
		

	
		 IF(@operation = 'UPDATE')
		
			UPDATE Employees set EmpFirstName= @empfirstname, EmpLastName= @emplastname,Gender= @gender,MaritalStatus= @maritalstatus,CellPhone= @cellphone,DOB= @dob,
			Email= @email, BloodGroup= @bloodgroup, Address=@address, JoiningDate= @joiningdate,TerminationDate=@terminationdate, EmImage= @emimage, DeptID= @deptid, DesignationId= @designationid, IsActive= @isactive
			Where EmpID=@empid
			Print 'Your data UPDATED Successfully'



		IF(@operation = 'DELETE')
		
			DELETE FROM Employees
			Where EmpID=@empid
			Print 'Your data DELETED Successfully'
		
		COMMIT TRAN
	END TRY
	BEGIN Catch 
		RollBack TRAN 
		Print 'Somethong Wrong'
	END CAtch
END

USE [master]

ALTER DATABASE [SGHRMDB] SET  READ_WRITE 

